{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="title">Add New Product</h1>
    <form method="POST" class="product-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <input type="submit" value="Add Product" class="btn btn-primary">
        </div>
    </form>
</div>

<style>
    body {
    display: grid;
    place-items: center;
    height: 100vh; /* Mengisi tinggi viewport untuk memastikan elemen berada di tengah vertikal */
    }

    .container {
        width: 450px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .title {
        color: #065231;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-form {
        text-align: left;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .btn-primary {
        background-color: #018433;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #025020;
    }
</style>
{% endblock %}
