 {% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Gilbert's Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Profile</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center">STOCKMASS</h1>
    <hr class="mb-4">
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h5>Welcome, {{ name }} !</h5>
            <!-- <p>{{ name }}</p> -->
    
            <!-- <h5>Class:</h5>
            <p>{{ class }}</p> -->
        </div>
    </div>

    <style>
        .cardss {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
            margin: 40px;
            justify-content: center;
            justify-items: center;
            padding-bottom: 20px;
        }
    
        .card {
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
        }
    
        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    
        .card-body {
            padding: 20px;
        }
    
        .card-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    
        .card-text {
            font-size: 14px;
        }
    
        .card-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    
        .btn-primary, .btn-danger {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s, color 0.3s;
        }
    
        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }
    
        .btn-danger {
            background-color: #dc3545;
            color: #fff;
        }
    
        .btn-primary:hover {
            background-color: #0056b3;
        }
    
        .btn-danger:hover {
            background-color: #c82333;
        }
    </style>
    <div class="cardss" style="display: grid;grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); grid-gap: 20px; margin: 40px; justify-content: center; justify-items: center; padding-bottom: 20px;">
        {% for product in products %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-sm btn-danger">Delete</a>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="table-responsive">
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            
            th, td {
                border: 5px solid rgb(0, 0, 0);
                border-radius: 10px;
                text-align: left;
                padding: 10px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
          </style>
        <table class="table table-bordered table-striped">
            <table id="product_table">
            <!-- <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.date_added }}</td>
                        <td>
                            <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{% url 'main:delete_product' product.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody> -->
        </table>
    </div>

    <h6 class="mt-4">You have {{ total_products }} products saved in this application</h6>
    <p>Last login: {{ last_login }}</p>
    
    <div class="text-center mt-4">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
        <a href="{% url 'main:logout' %}" class="btn btn-danger ml-2">Logout</a>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Action</th>
        </tr>`
        products.forEach((item) => {
          htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
            <td>
                <button class="btn btn-primary" onclick="editProduct(${item.pk})">Edit</button>
                <button class="btn btn-danger" onclick="deleteProduct(${item.pk})">Delete</button>
            </td>
          </tr>`
        })
        const cardContainer = document.querySelector('.cardss');
        cardContainer.innerHTML = "";

        products.forEach((item) => {
            const card = document.createElement('div');
            card.className = 'card';
            card.style = 'width: 18rem;';
            card.innerHTML = `
                <div class="card-body">
                    <h5 class="card-title">${item.fields.name}</h5>
                    <p class="card-text">${item.fields.description}</p>
                    <p class="card-text">Price : Rp. ${new Intl.NumberFormat('id-ID').format(item.fields.price)}</p>
                    <p class="card-text">Date Added : ${item.fields.date_added}</p>
                    <button class="btn btn-primary" onclick="editProduct(${item.pk})">Edit</button>
                    <button class="btn btn-danger" onclick="deleteProduct(${item.pk})">Delete</button>
                </div>
            `;
            cardContainer.appendChild(card);
        });

        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct

    function editProduct(pk) {
    window.location.href = `/edit-product/${pk}`;
    }

    function deleteProduct(pk) {
    window.location.href = `/delete/${pk}`;  
    }
  </script>

{% endblock content %}

