{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css\register.css' %">
{% endblock meta %}

{% block content %}
<div class="register-container">
    <h1 class="register-title">Register</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>

        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>

        <div class="form-group">
            <input type="submit" class="btn register-btn" value="Daftar">
        </div>
    </form>

    {% if messages %}
        <ul class="error-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<style>
    body {
    display: grid;
    place-items: center;
    height: 100vh; /* Mengisi tinggi viewport untuk memastikan elemen berada di tengah vertikal */
    }

    .register-container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    .register-title {
        text-align: center;
        color: #007bff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .btn.register-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
    }

    .btn.register-btn:hover {
        background-color: #0056b3;
    }

    .error-messages {
        list-style-type: none;
        padding: 0;
        color: #ff0000;
    }
</style>
{% endblock content %}